html, body {
  margin: 0;
  padding: 0;
}
body{
  background-color: rgb(141, 76, 202);
}

canvas {
  background-color: rgb(255, 255, 255);
  padding: 3em;
  display: block;
  margin: 0 auto;
  margin-top: 5em;
  border: 3px solid black;
}
#timer{
  margin: 2em;
  text-align: end;
}



